<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="UTF-8">
			
			<title th:text = ${oneContent.title}></title>
			 
			<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    		<link href="/bootstrap/css/starter-template.css" rel="stylesheet">
    		<link href = "/summerNote/summernote-lite.css" rel = "stylesheet">
    		
    		<link href = "/css/content.css" rel = "stylesheet">
			
		</head>
		
		<body>
			 <nav class="navbar navbar-inverse navbar-fixed-top">
        		<div class="container">
            		<div class="navbar-header">
                		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"aria-expanded="false" aria-controls="navbar">
                    		<span class="sr-only">Toggle navigation</span>
                    		<span class="icon-bar"></span> <span class="icon-bar"></span>
                    		<span class="icon-bar"></span>
                		</button>
                		<a class="navbar-brand" href="/">Emotion - Recycle</a>
            		</div>
            	<div id="navbar" class="collapse navbar-collapse">
    	            <ul class="nav navbar-nav navbar-right">

	                    <li>
                	        <a href="/adminUser/adminMain" class = "dashBoard">대시보드 바로가기</a>
            	        </li>

        	            <li>
    	                    <a href="/login/" class = "nav_login">관리자 로그인</a>
                       	    <a href="/login/logout" class = "nav_logout" style="display:none">관리자 로그아웃</a>
	                    </li>
                	</ul>
            	</div>
        	</div>
    	</nav>
    
    	<div class="blog-header">
        		<h1 class="blog-title text-center" th:text="${oneContent.title}"></h1>
    	</div>
    	
    	
    	
    	
    	
    	
    	
    	
    	<div class="blog-post mainpost">
           	 <h3 class = "text-right">
           		작성자: <span th:text=${oneContent.author}></span>
			 </h3>	
           	<div class = "text-right">
           		 등록날짜: <strong class="blog-post-meta date" th:text="${oneContent.regitDate}"></strong><p/>
           	</div>	 
           	
           	 <p> 
           		 <textarea id="content" name="editordata" th:text="${oneContent.content}"></textarea>
           	 </p>
    	</div>
    	
    	<div class="container pull-left comment">
        	<div class="commentList">
        		
        	</div>
    	</div>
    	
    	<div class = "pull-right modifyButton">
    		<button type="button" class="btn btn-primary modify">수정</button>
    		<button type="button" class="btn btn-danger delete">삭제</button>
    	</div>
    	
    	<div class = "container pull-left writeReplay">
    		<input class="form-control" id="viewIndex" type="text" th:value = "${oneContent.boardSeq}" disabled>
    		<div class="form-group row">
  				<div class="col-xs-1">
    				<label for="ex1">작성자</label>
    				<input class="form-control" id="author" type="text" maxlength="100">
  				</div>
  				
  				<div class="col-xs-1">
    				<label for="ex1">비밀번호</label>
    				<input class="form-control" id="password" type="password" maxlength="100">
  				</div>
			</div>
		
      		<div class="form-group">
        		<label for="subject">댓글</label>
        		<input type="text" class="form-control" id="replay" name="replay" placeholder="댓글을 작성해주세요" maxlength="4000">
      		</div>
      		<button type="button" class="btn btn-primary btn-submitt pull-right addReplayButton">작성</button>
    	</div>
    	
    	<div class="modal fade" id="modifyModal" role="dialog">
    		<div class="modal-dialog">
      			<!-- Modal content-->
      			<div class="modal-content">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">×</button>
          					<h4 class="modal-title">비밀번호를 입력하세요</h4>
        			</div>
        			<div class="modal-body">
          				<input class="form-control" id="modiyPassword_password" type="password" maxlength="100">
        			</div>
        			<div class="modal-footer">
						<button type="button" class="btn btn-primary modifyPassword">확인</button>
        			</div>
      			</div>
    		</div>
  		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src = "/bootstrap/js/bootstrap.js"></script>
		<script src = "/summerNote/summernote-lite.js"></script>
		<script src = "/summerNote/summernote-ko-KR.js"></script>
		<script src = "/js/common.js"></script>
		<script src = "/js/view.js"></script>

    	
    	
	</body>
		
			
		
		
</html>