<!DOCTYPE html>
	<html xmlns:th = "http://www.thymeleaf.org">
		<head>
			<meta charset="UTF-8">
		
			<title th:text = ${modifyContent.title}></title>
		
			<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
   			<link href="/bootstrap/css/starter-template.css" rel="stylesheet">
   			<link href = "/summerNote/summernote-lite.css" rel = "stylesheet">
   		
   			<link href = "/css/modify.css" rel = "stylesheet">
		</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
       		<div class="container">
           		<div class="navbar-header">
               		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"aria-expanded="false" aria-controls="navbar">
                   		<span class="sr-only">Toggle navigation</span>
                   		<span class="icon-bar"></span> <span class="icon-bar"></span>
                   		<span class="icon-bar"></span>
               		</button>
               		<a class="navbar-brand" href="/">Emotion - Recycle</a>
           		</div>
           	<div id="navbar" class="collapse navbar-collapse">
   	            <ul class="nav navbar-nav navbar-right">

                    <li>
               	        <a href="/adminUser/adminMain" class = "dashBoard">대시보드 바로가기</a>
           	        </li>

       	            <li>
   	                    <a href="/login/" class = "nav_login">관리자 로그인</a>
                   	    <a href="/login/logout" class = "nav_logout" style="display:none">관리자 로그아웃</a>
                    </li>
               	</ul>
           	</div>
       	</div>
   	</nav>
   	
   	<div class="container writeContent">
   			<input class="form-control" id="boardSeq" type="hidden" maxlength="10" th:value=${modifyContent.boardSeq} >
      		<div class="form-group row">
  				<div class="col-xs-2">
    				<label for="ex1">작성자</label>
    				<input class="form-control" id="author" type="text" maxlength="100" th:value=${modifyContent.author}>
  				</div>
  				
  				<div class="col-xs-2">
    				<label for="ex1">비밀번호</label>
    				<input class="form-control" id="password" type="password" maxlength="100">
  				</div>
			</div>
		
      		<div class="form-group">
        		<label for="subject">제목</label>
        		<input type="text" class="form-control" id="subject" name="subject" placeholder="제목을 입력하세요." maxlength="100" th:value=${modifyContent.title}>
      		</div>
      			
      			
      		<div class="form-group">
        		<label for="content">내용</label>
        		<textarea id="content" name="editordata" th:text=${modifyContent.content}></textarea>
      		</div>
      		<div class = "addContent-subMit pull-right">
	      		<button type="button" class="btn btn-primary btn-modify">수정</button>
    	  		<button type="button" class="btn btn-danger btn-cancel">취소</button>
	      	</div>
		</div>
   	
   	
   	
   	
   	
   	
   
   		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src = "/bootstrap/js/bootstrap.js"></script>
	<script src = "/summerNote/summernote-lite.js"></script>
	<script src = "/summerNote/summernote-ko-KR.js"></script>
	<script src = "/js/common.js"></script>
	<script src = "/js/modify.js"></script>
   	
</body>
</html>