<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
	<title>미니 프로젝트</title>
	
	
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/starter-template.css" rel="stylesheet">
    <link href="/css/menudropdown.css" rel="stylesheet">
    
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    
    
</head>

<body>
	<nav include-html="/html/nav/nav_login.html"></nav>
	
	 <div class="container">

      <div class="starter-template">
        <h3>내 이력서</h3>
      </div>
		
		<div>
        <h4>기본정보</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 5%; text-align: center">이름</th>
					<th style="width: 5%; text-align: center;" >나이</th>
					<th style="width: 5%; text-align: center">이메일</th>
				</tr>
			</thead>
			<tbody class="Baiscresume">
					<tr>
						<td style = "text-align: center;" th:text="${userBasicVO.nickname}"></td>
						<td style = "text-align: center;" th:text="${userBasicVO.age}"></td>
						<td style = "text-align: center;" th:text="${userBasicVO.email}"></td>
					</tr>
			</tbody>
		</table>
		</div>
		
		<form method = "POST" action="/resume/insertResume" id = "companyHistoryForm">
		<div>
        <h4>회사경력</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 5%; text-align: center">No</th>
					<th style="width: 5%; text-align: center;" >회사명</th>
					<th style="width: 5%; text-align: center">입사일</th>
					<th style="width: 5%; text-align: center">퇴사일</th>
					<th style="width: 5%; text-align: center">직급</th>
					<th style="width: 5%; text-align: center">업무내역</th>
					<th style="width: 5%; text-align: center">추가/삭제</th>
				</tr>
			</thead>
			<tbody class="resumeCompanyHistory">
				<tr id = "ch_tr_0">
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = 예시 id = "ch_0" readonly="readonly"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "회사명"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value ="2021-01-02" ></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value ="2021-01-02" ></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "사원"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "개발"></td>
					<td><button type="button" style="width:100%; text-align:center; border: 0;" onclick="addCompanyHistory()">추가</button></td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<div>
        <h4>프로젝트 경력</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 5%; text-align: center">No</th>
					<th style="width: 10%; text-align: center;" >프로젝트명</th>
					<th style="width: 5%; text-align: center">시작일</th>
					<th style="width: 5%; text-align: center">철수일</th>
					<th style="width: 5%; text-align: center">직급</th>
					<th style="width: 10%; text-align: center">업무내역</th>
					<th style="width: 5%; text-align: center">추가/삭제</th>
				</tr>
			</thead>
			<tbody class="resumeProjectHistory">
				<tr id = "pj_tr_0">
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = 예시 id = "ph_0" readonly="readonly"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "프로젝트명"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value ="2021-01-02" ></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value ="2021-01-02" ></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "사원"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "개발"></td>
					<td><button type="button" style="width:100%; text-align:center; border: 0;" onclick="addProjectHistory()">추가</button></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div>
		<h4>프로젝트 상세 기술</h4>
		<div class="form-group">
    		<textarea class="form-control" id="projectDetailTextArea" rows="10" name = "prjoectDetailText"></textarea>
  		</div>	
		</div>
		
		<div>
		<h4>자기소개</h4>
		<div class="form-group">
    		<textarea class="form-control" id="introduceTextArea" rows="10" name = "introduceText"></textarea>
  		</div>	
		</div>
		
		<div>
		<h4>자격증</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 5%; text-align: center">No</th>
					<th style="width: 10%; text-align: center;" >자격증명</th>
					<th style="width: 5%; text-align: center">취득일</th>
					<th style="width: 5%; text-align: center">추가/삭제</th>
				</tr>
			</thead>
			<tbody class="awardHistory">
				<tr id = "aw_tr_0">
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = 예시 id = "aw_0" readonly="readonly"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value = "정보처리기사"></td>
					<td><input type="text" size="20" style="width:100%; text-align:center; border: 0;" value ="2021-01-02" ></td>
					<td><button type="button" style="width:100%; text-align:center; border: 0;" onclick="addAwardHistory()">추가</button></td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<div>
		<h4>기타 서류</h4>
		<div class = "imageDiv">
			<!-- <img alt="" src="">
			<div>
				<button>삭제</button>
			</div> -->
		</div>
		
		<div class="form-group">
    		<label for="exampleInputFile">파일 업로드</label>
    		<input type="file" id="imageFile">
  		</div>
  		
  		<div class="form-group">
    		<input type="button" class="btn btn-default" value = "업로드" onclick="imageUpload()">
  		</div>
  		
  		
		
		</div>
		
		
			
			 <input type = "hidden" name = "_csrf" th:value = "${_csrf.token}">
		</form>
		
		<button  th:if = "${existResume.toString().equals('1')}"type="button" class="btn btn-primary" onclick="resumeInsert()">이력서 수정</button>
		<button  th:if = "${existResume.toString().equals('0')}"type="button" class="btn btn-primary" onclick="resumeInsert()">이력서 입력</button>


    </div>
	
	
	
	

	




	<script src="/js/framework/jquery/jquery3_5_1.js"></script>
	<script src="/bootstrap/js/bootstrap.js"></script>
	
	<script th:inline="javascript">
    	let existResume = /*[[ ${existResume} ]]*/ "";
	</script>
	
	
	<script src="/js/page/common.js"></script>
	<script src="/js/page/myResume.js"></script>
</body>

</html>