.mainpost {
	margin-right: 30px;	
	margin-left: 30px;
	
}

.writeReplay{
	margin-left: 30px;
	margin-top : 30px;
	
}

.comment{
	margin-left: 30px;
	margin-top : 30px;
	
	
}

.modifyButton{
	margin-right: 30px;
	margin-top: 30px;
	
}