<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/main/">미니 프로젝트</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
         	<ul class="nav navbar-nav navbar-right">
				<div class="dropdown">
  					<button class="dropbtn">내정보</button>
					<div class="dropdown-content">
   						<a href="/resume/">내 이력서</a>
   						<a href="/board/">게시판</a>
  						<a href="/user/detail">정보수정</a>
  						<a href = "/logout/logout">로그아웃</a>
 					</div>
				</div>
             </ul>
        </div>
    </div>
</nav>