<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/home/">미니 프로젝트</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
         	<ul class="nav navbar-nav navbar-right">
         		<li>
					<a href="/login/" class = "nav_login">login</a>
                </li>
            	<li>
					<a href="/signIn/" class = "nav_login">signIn</a>
                </li>
                <li>
					<a href="/lotto/" class = "nav_login">번호조회</a>
                </li>
                <li>
					<a href="/passwdEncoding/" class = "nav_login">암호인코딩</a>
                </li>
             </ul>
        </div>
    </div>
</nav>